[ROSS-TEST]

[parameters]
flow_factor = 1
default_flwa = 4.6e-18
# value of "flwa" is set as specified for EISMINT-Ross benchmark. 
# See: http://homepages.vub.ac.be/~phuybrec/eismint/iceshelf.html
# See also: MacAyeal et al., Ann. Glaciol., 23, 1996 pp.46-51

[CF output]
variables = thk uvelhom vvelhom velnormhom
frequency = 1
name = output/ross.out.nc

[grid]
upn = 11
ewn = 151
nsn = 115
dew = 6822
dns = 6822
sigma_builtin = 1

[time]
tstart = 0.
tend = 1.
t = 1.

[CF default]
title = EISMINT-Ross Benchmark Experiment 

[options]
flow_law = 2            # isothermal
diagnostic_run = 1      # combination of this and next flag give diag. soln. only
evolution = 0

[ho_options]
diagnostic_scheme = 3   # Payne/Price 1st-order dynamics
which_ho_babc = 5       # take basal traction param from .nc input
which_ho_efvs = 0       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # use SLAP GMRES for linear solver

[CF input]
name = output/ross.nc
time = 1
