[ISMIP-HOM-A]
temperature = -30. 1.67e-5

[parameters]
geothermal = -42e-3
flow_factor = 1
default_flwa = 4.6e-18

[CF output]
variables = thk uvelhom vvelhom velnormhom
frequency = 1
name = output/ross.out.nc

[grid]
upn = 11
ewn = 151
nsn = 115
dew = 6822
dns = 6822
sigma_builtin = 1

[time]
niso = 1.
tend = 200010.
ntem = 1.
tstart = 200000.
t = 1.
nvel = 1.

[CF default]
title = EISMINT-Ross Benchmark Experiment 

[options]
flow_law = 2 #Isothermal EISMINT-ROSS type, will need to replace with the non-isothermal later
evolution = 0
temperature = 1
vertical_integration = 1
sliding_law = 4
marine_margin = 2
stress_calc = 2
hotstart = 1
basal_water = 0
isostasy = 0
periodic_ew = 0
periodic_ns = 0
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 3
prognostic_scheme = 0
basal_stress_input = 3
which_ho_efvs = 0
which_ho_source = 0
which_ho_babc = 5    # take B^2 from Glimmer-CISM netCDF input file
which_ho_resid = 2
which_ho_sparse = 1  # For PP core (diagnostic_scheme=3), use GMRES (which_ho_sparse=1)

[CF input]
name = output/ross.nc
time = 1
