[DOME-TEST]

[parameters]
flow_factor = 1

[CF output]
variables = artm beta topg thk usurf uvel vvel wvel flwa velnorm temp
frequency = 1.0
name = data/gis_10km.seacism.nc

[grid]
upn = 11
ewn = 150
nsn = 280
dew = 10000
dns = 10000
sigma_builtin = 1

[time]
tstart = 0.
tend = 1.0
dt = 1.0

[CF default]
comment = 10 km res. GIS test case  
title = simplified GIS test case, 10 km res.

[options]
ioparams =
flow_law = 0            # isothermal
evolution = 3
temperature = 3

[ho_options]
diagnostic_scheme = 1   # Payne/Price 1st-order dynamics
which_ho_babc = 4       # no-slip at bed
which_ho_efvs = 0       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1=SLAP 4=Trilinos for linear solver
which_ho_nonlinear = 1  # 0=Picard, 1=JFNK

[CF input]
name = data/gis_10km.051011.crop.nc
time = 1
