[SHELF-TEST]

[grid]
upn = 5 
ewn = 168                
nsn = 56
dew = 892.8569946
dns = 892.8569946

[time]
tstart = 0.
tend = 200.
dt = 1.

[options]
dycore = 1              # 0 = SIA, 1 = 1st-order Payne-Price
flow_law = 0            # 0 = isothermal, 2 = temperature dependent
evolution = 3           # 3 = remapping
temperature = 0         # 0 = surface air temp, 1 = prognostic
marine_margin = 0       # 0 = do nothing

[ho_options]
which_ho_babc = 5       # 5 = take basal traction param from .nc input
which_ho_efvs = 2       # 2 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 0  # 0=Picard, 1=JFNK

[parameters]
flow_factor = 1.
default_flwa = 9.4608e-18      
# value of "flwa" is same as that used in Goldberg test case (from Table 1, p. X of paper
# mentioned below - converted from 3e-25 Pa^-3 s^-1 to Pa^-3 yr^-1)

[CF default]
comment = Shelf test case from Goldberg et al. paper (JGR, 117, 2012, doi:10.1029/2011JF002246)
title = Goldberg et al. ice steam-shelf test case (POP2 / BISICLES setup) 

[CF input]
name = stream-shelf.nc
time = 1

[CF output]
variables = thk topg usurf lsurf uvel vvel velnorm acab bmlt floating_mask ice_mask lower_cell_loc lower_cell_temp  seconds_per_year gravity  rho_ice rho_seawater ice_thermal_conductivity ice_specific_heat
frequency = 1
name = stream-shelf-singleLev.out.nc

[external_dycore_options]
external_dycore_type = 1
dycore_input_file = inputs.BISICLES.stream-shelf-singleLev

