[grid]
# grid sizes
ewn = 65
nsn = 65
upn = 11
dew = #GRIDSIZE#
dns = #GRIDSIZE#

[options]
temperature = 0
flow_law = 2
isostasy = 0
sliding_law = 4
marine_margin = 2
stress_calc = 2
evolution = #SOLVER#
basal_water = 2
vertical_integration = 1

[time]
tend = 200000.
dt = #DELTATIME#
ntem = 1.
nvel = 1.
niso = 1.

[parameters]
flow_factor = 1
geothermal = -42e-3

[CF default]
title: #TITLE#

[CF output]
name: #OUTNAME#
frequency: 1000
variables: thk thke uflx vflx uvel vvel acab ivol ivole

