[DOME-TEST]

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 2000
dns = 2000
sigma_builtin = 1

[time]
tstart = 0.
tend = 200.
dt = 5.0

[options]
dycore = 0              # 0 = glide, 1 = glam
flow_law = 0            # 0 = const 1e-16 Pa^-n a^-1  ASSUME BT TESTING SCRIPTS
evolution = 2           # 2 = iterated diffusion
temperature = 0         # 0 = isothermal

#[ho_options]
#which_ho_babc = 4       # 4 = no-slip at bed
#which_ho_efvs = 2       # 0 = constant, 2 = nonlinear eff. visc. w/ n=3
#which_ho_sparse = 1     # 1 = SLAP GMRES, 4 = Trilinos for linear solver
#which_ho_nonlinear = 1  # 0 = Picard, 1 = JFNK

[parameters]
flow_factor = 1.
ice_limit = 10.          # min thickness (m) for dynamics

[CF default]
comment = created with halfar.py 
title = halfar dome test case

[CF input]
name = halfar.nc
time = 1

[CF output]
variables = restart
frequency = 1
name = halfar.out.nc

