[STREAM-TEST ]

[grid]
upn = 3
#ewn = 20 
#nsn = 20
#dew = 3571.429 
#dns = 3571.429 
ewn = 40 
nsn = 40
dew = 1470.588 
dns = 1470.588 
#ewn = 80 
#nsn = 80
#dew = 675.6757 
#dns = 675.6757 

[time]
tstart = 0.0
tend = 0.0
dt = 1.0 

[options]
dycore = 1
flow_law = 0            # isothermal
evolution = 3

[ho_options]
which_ho_babc = 2       # till yield stress map from .nc input (2=Picard; 7=Newton)
which_ho_efvs = 2       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 1  # 0=Picard, 1=JFNK

[parameters]
flow_factor = 1.
periodic_offset_ew = 57.3529       # for c = 40
#periodic_offset_ew = 53.3784       # for c = 80

[CF default]
comment = none
title = simple ice stream - yield stress set for analytical solution

[CF input]
name = stream.nc 
time = 1

[CF output]
variables = usrf topg thk flwa uvel vvel velnorm beta dynbcmask  
frequency = 100
name = stream.out.nc

