[SHELF-TEST]

[parameters]
flow_factor = 1
default_flwa = 5.7e-18      
# value of "flwa" is for tests 3&4 in simple shelf tests of EISMINT-shelf test cases
# see: http://homepages.vub.ac.be/~phuybrec/eismint/iceshelf.html
# All other params are also set to be in line w/ this set of experiments

[CF output]
variables = thk uvel vvel wvel velnorm
frequency = 1
name = output/confined-shelf.out.nc

[grid]
upn = 5
ewn = 43
nsn = 44
dew = 5000
dns = 5000
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.
dt = 1.

[CF default]
comment = Same as experiment 3 from EISMINT-shelf 
title = Confined Shelf Experiment (first-order dynamics)

[options]
flow_law = 2            # isothermal
evolution = 3
marine_margin = 0

[ho_options]
diagnostic_scheme = 1   # Payne/Price 1st-order dynamics
which_ho_babc = 5       # take basal traction param from .nc input
which_ho_efvs = 0       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # use SLAP GMRES for linear solver
which_ho_resid = 3      # use L2norm of system resid (resid = Ax-b)

[CF input]
name = output/confined-shelf.nc
time = 1

