#PBS -q regular
#PBS -l mppwidth=96
#PBS -l walltime=00:15:00
#PBS -N BISICLES.@STEP
#PBS -V 

cd $PBS_O_WORKDIR/12_per_year
aprun -n 16 ../simple_bisicles  stream-shelf.12_per_year.@STEP.config & 
cd $PBS_O_WORKDIR/24_per_year
aprun -n 16 ../simple_bisicles  stream-shelf.24_per_year.@STEP.config & 
cd $PBS_O_WORKDIR/3_per_year
aprun -n 16 ../simple_bisicles  stream-shelf.3_per_year.@STEP.config & 
cd $PBS_O_WORKDIR/6_per_year
aprun -n 16 ../simple_bisicles  stream-shelf.6_per_year.@STEP.config & 
wait
cd $PBS_O_WORKDIR/12_per_year
aprun -n 1 ../simple_bisicles  fixNC.12_per_year.@STEP.config & 
cd $PBS_O_WORKDIR/24_per_year
aprun -n 1 ../simple_bisicles  fixNC.24_per_year.@STEP.config & 
cd $PBS_O_WORKDIR/3_per_year
aprun -n 1 ../simple_bisicles  fixNC.3_per_year.@STEP.config & 
cd $PBS_O_WORKDIR/6_per_year
aprun -n 1 ../simple_bisicles  fixNC.6_per_year.@STEP.config &
wait