[DOME-TEST]

[parameters]
flow_factor = 1
ice_limit = 0

[CF output]
variables = thk usurf uvel vvel wvel velnorm
frequency = 1
name = output/dome.out.nc

[grid]
upn = 10
ewn = 30
nsn = 30
dew = 2000
dns = 2000
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.
dt = 1.

[CF default]
comment = created with dome.py 
title = parabolic dome test case using first-order dynamics  

[options]
flow_law = 2            # isothermal
evolution = 3       
temperature = 1

[ho_options]
diagnostic_scheme = 1   # Payne/Price 1st-order dynamics
which_ho_babc = 4       # no-slip at bed
which_ho_efvs = 0       # nonlinear eff. visc. w/ n=3
which_ho_sparse = 1     # 1=SLAP 4=Trilinos for linear solver
which_ho_nonlinear = 0  # 0=Picard, 1=JFNK
which_ho_resid = 3      # use L2norm of system resid (resid = Ax-b)

[CF input]
name = output/dome.nc
time = 1
