[ISMIP-HOM-A]
temperature = -30. 1.67e-5

[parameters]
geothermal = -42e-3
flow_factor = 1
ice_limit = 0

[CF output]
variables = thk usurf uvelhom vvelhom velnormhom
frequency = 1
name = output/dome.out.nc

[grid]
upn = 10
ewn = 30
nsn = 30
dew = 2000
dns = 2000
sigma_builtin = 1

[time]
niso = 1.
tend = 100.
ntem = 1.
tstart = 0.
dt = 1.
nvel = 1.

[CF default]
comment = 
title = parabolic dome test case using first-order dynamics  

[options]
flow_law = 2
evolution = 0
temperature = 0
vertical_integration = 1
stress_calc = 2
hotstart = 0
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 3
prognostic_scheme = 0
which_ho_babc = 4
which_ho_efvs = 0
which_ho_resid = 0
which_ho_sparse = 1

[CF input]
name = output/dome.nc
time = 1
