[DOME-TEST]

[parameters]
flow_factor = 1
ice_limit = 0

[CF output]
variables = thk usurf uvel vvel velnorm temp
frequency = 1
name = dome.out.nc

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 2000
dns = 2000
sigma_builtin = 1

[time]
tstart = 0.
tend = 0.
dt = 1.

[CF default]
comment = created with dome.py 
title = parabolic dome test case using first-order dynamics  

[options]
dycore = 1              # 0 = SIA, 1 = 1st-order Payne-Price
flow_law = 2            # 2 = isothermal, 0 = temperature dependent
evolution = 3           # 3 = remapping 
temperature = 3         # 0 = none; 1 = old Glimmer, 3 = remapping

[ho_options]
which_ho_babc = 4       # 4 = no-slip at bed
which_ho_efvs = 0       # 0 = nonlinear eff. visc. w/ n=3
which_ho_sparse = 4     # 1=SLAP GMRES, 4=Trilinos for linear solver
which_ho_nonlinear = 1  # 0=Picard, 1=JFNK

[CF input]
name = dome.nc
time = 1
